:root {
    --purple: #4D206D;
    --lightpurple: #B09FCA;
    --darkblue: #251858;
    --dustypurple: #E5D3E1;
    --hotpink: #ED5B9A;
    --teal: #00D1CF;

}

* {
    font-family: roboto condensed, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--darkblue);
}

header {
    background-image: url(./assets/Background\ Image.png);
    background-size: cover;
    border-radius: 20px;
}

header .heading {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
    font-size: 1.25em;
}

nav {
    float: right;
}

.heading {
    padding-bottom: 50px;
    
}

.heading p {
    font-size: 1.25em;
    padding-top: 50px;
}

.heading h1 {
    font-size: 2em;
}

.heading h2 {
    font-size: 1.75em;
}

.heading p,
.heading h1,
.heading h2 {
    padding-left: 25px;
    text-shadow: 2px 2px 5px var(--hotpink);
}

.content {
    margin-left: 45px;
    margin-right: 45px;
    padding-top: 45px;
}

.work ul li {
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 5px var(--hotpink)
}

.avatar-about-me {
    display: inline-flex;
}

.avatar-about-me img {
    width: 300px;
    height: auto;
    margin-right: 30px;
    object-fit: contain;
}

.work h2,
.contact-me h2 {
    margin-left: 45px;
    margin-right: 45px;
}

.about-me h2,
.work h2,
.contact-me h2 {
    padding-bottom: 10px;
    border-bottom: var(--darkblue) solid;  
}

.work ul li,
.contact-me ul li {
    list-style-type: none;
    
}

.websites {
    display: flex;
    flex-wrap: wrap;
    width: 15000px;
    gap: 15px;
}

.website-1,
.website-2,
.website-3 {
    display: flex;
    background-image: url(./assets/Background\ Image.png);
    background-size: cover;
    border-radius: 20px;
    padding: 75px;
    height: 90px;
    border: var(--darkblue) solid 7px;
    justify-content: center;
    align-items: center;
}
div {
    display: flex;
    justify-content: center;
    margin-right: 45px;
}

.website-1 {
    flex-basis: 15000px;
}

.website-2,
.website-3 {
    flex-grow: 100;
}

.contact-me ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.contact-me ul li {
    display: inline-flex;
    list-style-type: none;
    margin: 25px;
    font-size: 1.25em;
}

footer {
    text-align: center;
    padding-top: 20px;
}

/* emoji inserts */

.heading h1::after {
    content: "🤓";
}

.heading h2::after {
    content: "🖥️";
}

.about-me h2::after {
    content: "👋";
}

.work h2::after {
    content: "🎨";
}

.contact-me h2::after {
    content: "📧";
}

/* hover effects */

.work ul li:hover {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    box-shadow: 10px 10px;
}

.contact-me ul li:hover,
nav ul li:hover {
    font-weight: bolder;
    font-size: 1.5em;
}

/* cell phone formatting */
@media screen and (max-width: 550px) {
    * {
        padding: 0px;
    }
    nav ul li {
        display: block;
        text-align: right;
        margin-right: 25px;
    }
    .avatar-about-me img {
        display: none;
    }
    .contact-me ul {
        flex-direction: column;   
    }
    .contact-me ul li {
        margin: 15px;
    }
    .content,
    .work h2,
    .contact-me h2 {
        margin-left: 20px;
    }
    .content p {
        margin-left: 0px;
    }
    div {
        display: flex;
        justify-content: center;
    }
    div {
        margin-right: 0px;
        padding-right: 20px;
    }
}
    